*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navigation Bar  */

.topnav {
    background-color: #3B3E43;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: #3B3E43;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #F6E073;
    color: #3B3E43;
  }

/* homepage intro section */

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}

#intro-text {
    max-width: 800px;
    padding: 5px;
    line-height: 125%;
}

/* homepage form box */

#top-bun-img,
#bottom-bun-img {
    height: auto;
    width: 375px;
    padding: 15px
}

#recommendationSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    background-color: aliceblue;
}

#getRecommendation {
    width: 350px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F6E073;
    border-radius: 10px;
    line-height: 200%;
    box-shadow: 10px black;
}

#foodTypeInput,
#priceRangeInput,
#locationCountyInput{
    border-radius: 5px;
    font-size: medium;
}

#foodTypeInput:hover,
#priceRangeInput:hover,
#locationCountyInput:hover
 {
    background: #3B3E43;
    color: white;
    border-color: white;
}

#randomRecommendation,
#getReccomendationBtn{
    border: none;
    font-size: small;
    color: white;
    padding: 8px 16px;
    background-color: #8f1c47;
    border-radius: 8px;
    border: solid black 1px;
    margin: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#randomRecommendation:hover,
#getReccomendationBtn:hover{
    background: #510a24;
}

/* restaurant display css */

#restuarantRecommendationDisplay {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    flex-direction: column;
    flex-wrap: wrap;
    
}

/* random restaurant display card css */

.random-card{
    border-radius: 25px;
    background-color: white;
}
.random-image-content,
.random-restaurant-button,
.random-restaurant-name
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 14px;
}

.random-image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.random-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #8f1c47;
    border-radius: 25px 25px 0 25px;
}
.random-overlay::before,
.random-overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    height: 50px;
    width: 50px;
    background-color: #8f1c47;
}
.random-overlay::after{
    border-radius: 0 25px 0 0;
    background-color: white;
}

.random-card-image{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #F6E073;
    padding: 3px;
}

.random-card-image .random-card-image-2{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #8f1c47;
}

.random-daves-review-content {
    max-width: 400px;
}

.new-random-restaurant-button{
    font-size: large;
    color: black;
    padding: 8px 16px;
    background-color: #F6E073;
    border-radius: 6px;
    margin: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.new-random-restaurant-button:hover{
    background: #fbd620;
    border-color: #8f1c47;
    color: #8f1c47;
}

.random-card-content {
    padding: 10px 30px;
    line-height: 200%;
}

.random-daves-review-content {
    line-height: 125%;
} 

/* form restaurant display card css */

.display-card{
    border-radius: 25px;
    background-color: white;
}
.display-image-content,
.display-restaurant-name,
.note-btn
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 14px;
}

.display-image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.display-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #8f1c47;
    border-radius: 25px 25px 0 25px;
}
.display-overlay::before,
.display-overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    height: 50px;
    width: 50px;
    background-color: #8f1c47;
}
.display-overlay::after{
    border-radius: 0 25px 0 0;
    background-color: white;
}

.display-card-image{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: beige;
    padding: 3px;
}

.display-card-image .display-card-image-2{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #8f1c47;
}

.display-daves-review-content {
    max-width: 400px;
}

.user-note-create,
.user-note-delete{
    border: none;
    font-size: large;
    color: white;
    padding: 8px 16px;
    background-color: #8f1c47;
    border-radius: 6px;
    margin: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.user-note-create:hover,
.user-note-delete:hover{
    background: rgb(183, 106, 255);
}

.display-card-content {
    padding: 10px 30px;
    line-height: 200%;
}

.display-daves-review-content{
    line-height: 125%;
}

/* user recommendation page */

#user-recommendation-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    line-height: 125%;
}


#newRecommendationSection {    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: aliceblue;
}

#newRecommendationDiv {
    width: 250px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F6E073;
    border-radius: 10px;
    line-height: 200%;
    box-shadow: 10px black;
}

#restuarantUserRecommendationDisplay {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    flex-direction: column;
    flex-wrap: wrap;
}